/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #242D32;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    border-bottom: 1px solid #929191;;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

.connected-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #929191;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    color: green;
    margin-right: 8px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        padding: 5px;
    }

    .logo {
        order: 1; /* Ensure the logo stays first */
        margin-bottom: 10px;
    }

    nav {
        order: 2; /* Ensure the navigation stays second */
        margin-bottom: 10px;
    }

    .connected-btn {
        order: 3; /* Ensure the button stays third */
        margin-left: auto; /* Move the button to the right */
        font-size: 10px;
        padding: 5px;
    }

    nav ul {
        justify-content: flex-end; /* Align navigation items to the right */
        font-size: 20px;
    }

    nav ul li {
        font-size: 10px;
        margin-left: 20px; /* Add some space between navigation items */
    }
}
